CompileFlags:
  CompilationDatabase: "cmake"

Diagnostics:
  ClangTidy:
    Add: [modernize*, performance*, readability*, portability*]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  TypeHints: Yes
